.ball {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border: black solid 1px;
  border-radius: 50%;
  display: inline-block;
}

#answer {
  margin-top: 20px;
}

#correto {
  background-color: rgb(168, 34, 1);
}

#reset-game {
  margin-top: 20px;
}
/* a */
